@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* Megakadályozza a mobilos "húzkodós" frissítést, ha nem akarod */
  overscroll-behavior-y: contain; 
}
